* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow: hidden;
  }
  #contenedor {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("../img/bg.jpg") no-repeat center/cover;
    overflow: hidden;
  }
  #personaje {
    position: absolute;
    bottom: 58%; 
    left: 8%;      
    width: 700px;
    height: 700px;
    background: url("../img/dk.png") no-repeat center/contain;
    animation-name: saltos;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  #barril1 {
    position: absolute;
    bottom: 13%;   
    left: 10%;    
    width: 480px;
    height: 600px;
    background: url("../img/barril.png") no-repeat center/contain;
    transform: rotate(-15deg);
  }
  
  #barril2 {
    position: absolute;
    bottom: 14%;  
    right: 10%;   
    width: 480px;
    height: 600px;
    background: url("../img/barril.png") no-repeat center/contain;
  }

  .giroBarril{
    animation-name: rotarBarril;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-iteration-count: infinite;

  }
  @keyframes rotarBarril {
  from{
    transform: rotate(-80deg);
  }
  to{
    transform: rotate(80deg);
  }
}
@keyframes saltos {
 0% {
    top: -95px;
    left: 800px;
       transform: rotate(0deg);
        opacity: 1;
  }

  30% {
    top: 500px;  
    left: 800px; 
       transform: rotate(0deg);
        opacity: 1;
  }

  60% {
    top: 1100px; 
    left: 3000px;  
       transform: rotate(0deg);
        opacity: 1;
  }

  70% {
    top: 1800px;   
    left: 530px;  
       transform: rotate(0deg);
        opacity: 1;
       
  }
   100%{
    top: -690px;  
    transform: rotate(1080deg);
     opacity: 0.3;
   }
}